body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.foocontainer{
  width: auto;
  max-width: auto;
  padding: 0 15px;
  position: fixed;
  bottom: 0px;
}

.container .footer-text{
  margin :20px 0;
}

.bg-light{
  background: #2F4F4F!important;
}